@model FinalYearProject.Models.Survey

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="survey_id" class="control-label"></label>
                <input asp-for="survey_id" class="form-control" readonly />
                <span asp-validation-for="survey_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="company_id" class="control-label"></label>
                <input asp-for="company_id" class="form-control" readonly />
                <span asp-validation-for="company_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="survey_name" class="control-label"></label>
                <input asp-for="survey_name" class="form-control" />
                <span asp-validation-for="survey_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="survey_id" value="survey_id" />
                <input type="hidden" name="company_id" value="company_id" />
                <input type="hidden" name="survey_name" value="survey_name" />
                <input type="submit" value="Create" class="btn btn-info" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


