@model FinalYearProject.Models.Shift

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Edit</h2>

<div class="row">
    <form method="post" asp-action="Edit">
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="shift_id" />
            <div class="form-group row">
                <label asp-for="shift_start" class="col-form-label"></label>
                <input asp-for="shift_start" class="form-control" />
                <span asp-validation-for="shift_start" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="shift_end" class="col-form-label"></label>
                <input asp-for="shift_end" class="form-control" />
                <span asp-validation-for="shift_end" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="parent_shift" class="control-label"></label>
                <select asp-for="parent_shift" class="form-control" asp-items="ViewBag.parent_shift"></select>
            </div>

            <div class="form-group row">
                <label asp-for="payrate_id" class="control-label"></label>
                <select asp-for="payrate_id" class="form-control" asp-items="ViewBag.payrate_id"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>