@{
    ViewData["Title"] = "Home Page";
}
<body>
    <script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
    <script>
        var myLandbot = new Landbot.Livechat({
            configUrl: 'https://storage.googleapis.com/landbot.online/v3/H-1783799-Y60N2AU8HZ6GP4HN/index.json',
        });
    </script>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Employee" asp-area="Staff">Staff</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Rating" asp-area="Staff">Staff Rating</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="LeaveApply" asp-area="Staff">Apply Leave</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="LeaveApprove" asp-area="Staff">Approve Leave</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Role" asp-area="Staff">Role</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Admin" asp-area="Admin">Admin</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Company" asp-area="Admin">Company</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Shift" asp-area="Staff">Shift</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Payroll" asp-area="Staff">Payroll</a>
            </li>
            <li>
                <a asp-action="ViewPayrate" asp-controller="Payroll" asp-area="Staff">Payrate</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Training" asp-area="Staff">Training</a>
            </li>
            <li>
                <a asp-action="CreateQRCode" asp-controller="Shift" asp-area="Staff">QR CODE</a>
            </li>
            <li>
                <a asp-action="ViewPayroll" asp-controller="Payroll" asp-area="Staff">View Own Payroll</a>
            </li>
            <li>
                <a asp-action="ViewTraining" asp-controller="Training" asp-area="Staff">View Training</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="SurveyManage" asp-area="Staff">Survey Manage</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="SurveyTakens" asp-area="Staff">Survey View</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="CompanyKPIs" asp-area="Staff">Company KPIs</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Incentives" asp-area="Staff">Incentives</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="SalaryAdvancesManage" asp-area="Staff">Salary Advance Manage</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="SalaryAdvances" asp-area="Staff">Salary Advance</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="ApplyClaim" asp-area="Staff">Apply Claim</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="ApproveClaim" asp-area="Staff">Approve Claim</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="UploadTask" asp-area="Staff">Upload Task</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="HandleTask" asp-area="Staff">Handle Task</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Chatbox" asp-area="Staff">Chatbox</a>
            </li>
        </ul>
    </div>
</body>

