@model string


<div class="btn-group" role="group">
    <a class="btn btn-primary text-white" asp-action="AddQuestion" asp-route-Id="@Model">
        <i class="fas fa-list-alt"></i>
    </a>   
</div>
