@model TrainingProgress

@{
    ViewData["Title"] = "AssignEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Create</h2>

<div class="row">
    <form method="post" asp-action="AssignEmployee">
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="staff_id" class="control-label"></label>
                <select asp-for="staff_id" class="form-control" asp-items="ViewBag.staffID"></select>
            </div>           
            <div class="form-group">
                <label asp-for="training_id" class="control-label"></label>
                <select asp-for="training_id" class="form-control" asp-items="ViewBag.trainingID"></select>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>