@model FinalYearProject.Models.ViewModels.EmployeeEditTaskVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rearrange</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="employeetask.emtask_id" />
            <input type="hidden" asp-for="employeetask.Admin" />
            <input type="hidden" asp-for="employeetask.date_upload" />

            <div class="form-group">
                <label asp-for="employeetask.emtask_duration" class="control-label"></label>
                <input asp-for="employeetask.emtask_duration" class="form-control" />
                <span asp-validation-for="employeetask.emtask_duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                Current File:
                <input asp-for="employeetask.emtaskDetail" class="form-control" readonly />
                <br />
                Upload New:
                <input type="file" name="emtaskDetail" class="form-control" />
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Rearrange" asp-route-id="@Model" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to list</a>
</div>
