@model FinalYearProject.Models.Shift

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="shift_start" class="control-label"></label>
                <input asp-for="shift_start" class="form-control" />
                <span asp-validation-for="shift_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shift_end" class="control-label"></label>
                <input asp-for="shift_end" class="form-control"  />
                <span asp-validation-for="shift_end" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_overtime" /> @Html.DisplayNameFor(model => model.is_overtime)
                </label>
            </div>
            <div class="form-group">
                 <label asp-for="parent_shift" class="control-label"></label>
                 <select asp-for="parent_shift" class="form-control" asp-items="ViewBag.parent_shift"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="payrate_id" class="control-label"></label>
                <select asp-for="payrate_id" class="form-control" asp-items="ViewBag.payrate_id"></select>
            </div>

            
            <div class="form-group">
                <label name="Repeatable" class="control-label"></label>
                 <select type="text" name="repeat" class="form-control" asp-items="ViewBag.repeatable"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

