@model FinalYearProject.Models.Document

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="document_id" />
            <div class="form-group">
                <label asp-for="owner_id" class="control-label"></label>
                <select asp-for="owner_id" class="form-control" asp-items="ViewBag.owner_id"></select>
                <span asp-validation-for="owner_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="document_name" class="control-label"></label>
                <input asp-for="document_name" class="form-control" />
                <span asp-validation-for="document_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_created" class="control-label"></label>
                <input asp-for="date_created" class="form-control" />
                <span asp-validation-for="date_created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expiry_date" class="control-label"></label>
                <input asp-for="expiry_date" class="form-control" />
                <span asp-validation-for="expiry_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notify_date" class="control-label"></label>
                <input asp-for="notify_date" class="form-control" />
                <span asp-validation-for="notify_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="document_path" class="control-label"></label>
                <input asp-for="document_path" class="form-control" />
                <span asp-validation-for="document_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

