@model FinalYearProject.Models.Leave

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Leave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Decide">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="leave_id" />
            <input type="hidden" asp-for="staff_id" />

            <div class="form-group">
                @Model.staff_id
                <br />
            </div>

            <div class="form-group">
                <label asp-for="leaveType" class="control-label"></label>
                <input asp-for="leaveType" class="form-control" readonly />
                <span asp-validation-for="leaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leave_start" class="control-label"></label>
                <input asp-for="leave_start" class="form-control" readonly />
                <span asp-validation-for="leave_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leave_end" class="control-label"></label>
                <input asp-for="leave_end" class="form-control" readonly />
                <span asp-validation-for="leave_end" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leave_reason" class="control-label"></label>
                <input asp-for="leave_reason" class="form-control" readonly />
                <span asp-validation-for="leave_reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Download" asp-route-id="@Model.leave_id">Download</a>
            </div>
            <div class="form-group">
                <label asp-for="response_message" class="control-label"></label>
                <input asp-for="response_message" class="form-control" />
                <span asp-validation-for="response_message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="approval_status" class="control-label"></label>
                <select asp-for="approval_status" class="form-control" asp-items="ViewBag.status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-id="@Model" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

