@model FinalYearProject.Models.EmployeeTask

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="emtask_id" />
            <input type="hidden" asp-for="staff_id" />

            <div class="form-group">
                <label asp-for="staff_id" class="control-label"></label> :
                @Model.staff_id
                <br />
            </div>
            <div class="form-group">
                <label asp-for="emtask_title" class="control-label"></label>
                <input asp-for="emtask_title" class="form-control" readonly />
                <span asp-validation-for="emtask_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_upload" class="control-label"></label>
                <input asp-for="date_upload" class="form-control" readonly />
                <span asp-validation-for="date_upload" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="emtaskdoneFile" class="control-label"></label> |
                <a asp-action="Download" asp-route-id="@Model.emtask_id" class="btn btn-primary">Download</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to list</a>
</div>