@model FinalYearProject.Models.ViewModels.EmployeeEditVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Edit</h2>

<h4>Employee</h4>

<div class="row">
    <form method="post" asp-action="Edit">
        <div>
            <img src="@Model.employee.profileImg_path" width="200px"/>
        </div>
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="user" />
            <input type="hidden" asp-for="employee.is_active" />
            <input type="hidden" asp-for="employee.acc_pass" />
            <input type="hidden" asp-for="employee.paidLeaveOnBargain" />
            <input type="hidden" asp-for="employee.sickLeaveOnBargain" />
            <input type="hidden" asp-for="employee.paidLeaveHourLeft" />
            <input type="hidden" asp-for="employee.sickLeaveHourLeft" />
            <input type="hidden" asp-for="employee.uuid" />
            <input type="hidden" asp-for="employee.leaveUpdate" />
            <input type="hidden" asp-for="employee.profileImg_path" />
            <input type="hidden" asp-for="employee.wages_rate" />

            <div class="form-group row">
                <label asp-for="employee.employee_id" class="col-form-label"></label>
                <input asp-for="employee.employee_id" class="form-control" readonly />
                <span asp-validation-for="employee.employee_id" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.parent_company" class="col-form-label"></label>
                <input asp-for="employee.parent_company" class="form-control" readonly />
                <span asp-validation-for="employee.parent_company" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.employee_id_by_company" class="col-form-label"></label>
                <input asp-for="employee.employee_id_by_company" class="form-control" readonly />
                <span asp-validation-for="employee.employee_id_by_company" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.employee_name" class="col-form-label"></label>
                <input asp-for="employee.employee_name" class="form-control" />
                <span asp-validation-for="employee.employee_name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.profileImg_path" class="col-form-label"></label>
                <input type="file" name="profPic" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="employee.user_id" class="col-form-label"></label>
                <input asp-for="employee.user_id" class="form-control" />
                <span asp-validation-for="employee.user_id" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.staff_role" class="col-form-label"></label>
                <select asp-for="employee.staff_role" class="form-control" asp-items="ViewBag.staff_role"></select>
            </div>
            <div class="form-group row">
                <label asp-for="employee.employer_id" class="col-form-label"></label>
                <select id="ddlEmployer" asp-for="employee.employer_id" class="form-control" asp-items="ViewBag.employer_id"></select>
            </div>
            <div class="form-group row">
                <label asp-for="employee.employment_start_date" class="col-form-label"></label>
                <input asp-for="employee.employment_start_date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" />
                <span asp-validation-for="employee.employment_start_date" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.bank_name" class="col-form-label"></label>
                <input asp-for="employee.bank_name" class="form-control" />
                <span asp-validation-for="employee.bank_name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.bank_no" class="col-form-label"></label>
                <input asp-for="employee.bank_no" class="form-control" />
                <span asp-validation-for="employee.bank_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.dob" class="col-form-label"></label>
                <input asp-for="employee.dob" class="form-control" type="date" />
                <span asp-validation-for="employee.dob" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.email" class="col-form-label"></label>
                <input asp-for="employee.email" class="form-control" />
                <span asp-validation-for="employee.email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.epf_no" class="col-form-label"></label>
                <input asp-for="employee.epf_no" class="form-control" />
                <span asp-validation-for="employee.epf_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.gender" class="col-form-label"></label>
                <select asp-for="employee.gender" class="form-control" asp-items="ViewBag.gender"></select>
            </div>
            <div class="form-group row">
                <label asp-for="employee.ic_no" class="col-form-label"></label>
                <input asp-for="employee.ic_no" class="form-control" />
                <span asp-validation-for="employee.ic_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.itax_no" class="col-form-label"></label>
                <input asp-for="employee.itax_no" class="form-control" />
                <span asp-validation-for="employee.itax_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.nationality" class="col-form-label"></label>
                <select asp-for="employee.nationality" class="form-control" asp-items="ViewBag.nationality"></select>
            </div>
            <div class="form-group row">
                <label asp-for="employee.phone_no" class="col-form-label"></label>
                <input asp-for="employee.phone_no" class="form-control" />
                <span asp-validation-for="employee.phone_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.sosco_no" class="col-form-label"></label>
                <input asp-for="employee.sosco_no" class="form-control" />
                <span asp-validation-for="employee.sosco_no" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="employee.religion" class="col-form-label"></label>
                <select id="ddlReligion" asp-for="employee.religion" class="form-control" asp-items="ViewBag.religion"></select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="row">
                <div class="col-5">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Update" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

